@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  background: #f7f7f9;
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 6%;
  border-radius: 0;
  background-color: #fff;
}

header a {
  text-decoration: none;
}

.mylogo {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

.navbar-links {
  display: none;
}

.hamburger {
  top: 24px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 22px;
  padding: 4px;
}

.bar {
  height: 2px;
  width: 100%;
  background-color: #6070ff;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  background-image: url("img/header-shapes-mobile.png");
  background-color: #fff;
  border-radius: 0 0 0 20%/0 0 0 12%;
}

main h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.mytxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #344563;
}

.connect {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  background: #f7f7f9;
}

.cardone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.cardoneimage {
  width: 100%;
}

.cardoneimage > img {
  width: 100%;
}

.card1txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.cardone h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.conpy {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.cardone ul {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.canopytxt {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.backtxt {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.yeartxt {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.cardtxt {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.lang .langtxt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}
.listjs {
  
}
.listjs .langtxt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

#htmltxt {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

#csstxt {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

#javascripttxt {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.cardone button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btntxt {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  background: #fff;
  border-top-right-radius: 70px;
}

.aboutmyself {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.about h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.abouttxt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about .social {
  border-radius: 0;
}

.about button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.contactme button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 44%;
  gap: 10px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.about button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.cardone button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.cardone button:active {
  background: #2230d2;
  border-radius: 8px;
}

.about button:active {
  background: #2230d2;
  border-radius: 8px;
}

.skilllist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}

.skilllist ul {
  width: 100%;
}

.skilllist ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.downarrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;
  border: 2px solid #acb7c3;
}

.languagetxt {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.langjs2 {
  display: none;
}

.js {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 66.72px;
  color: #253858;
  background: #f7f7f9;
  border-radius: 8px;
}

.html {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  width: 100%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.css {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  width: 100%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

#framework {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow1 {
  left: 41.67%;
  right: 33.33%;
  top: 25%;
  bottom: 25%;
  border: 2px solid #acb7c3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  border-radius: 8px;
}

.separator1 {
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dfe1e6;
}

#skills {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow2 {
  left: 41.67%;
  right: 33.33%;
  top: 25%;
  bottom: 25%;
  border: 2px solid #acb7c3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  border-radius: 8px;
}

.separator2 {
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dfe1e6;
}

.contactme {
  background: url(img/cf_bg.svg), url(img/cf_bf.svg), #6070ff;
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24;
}

.contacttxt {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 12px;
  color: #ebebff;
}

#form-id {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 52px;
  gap: 1rem;
}

.inputtxt1,
.inputtxt2 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  height: 48px;
  padding: 1rem;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
}

#errormessage {
  color: red;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 28px;
}

.inputtxt3 {
  padding: 1rem;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.contactme.btntxt {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px;
  color: #396df2;
}

.contactme button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.contactme button:active {
  background: #2230d2;
  border-radius: 8px;
}

/* Modal-section */

.modal-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(193, 199, 208, 0.5);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
#modal {
  width: 90%;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 16px;
  border: 0;
  z-index: 1;
}

.modal::backdrop {
  backdrop-filter: blur(5px);
  opacity: .6;
  background: #C1C7D0;
}

.header-nav {
  padding: 0px 24px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.header-nav h2{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}
.closs-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.45rem;
  color: #67798E;
}
.conpyjs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px;
  gap: 12px;
}
.imagejs {
  width: 100%;
  top: 0;
  padding: 20px 24px;
}

.thirdjs {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
}

.cardtxtjs {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  width: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 22px;
  
}
.langjs1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  color: #6070FF;
}

.buttonjs{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.btntxtjs {
  border: 1px solid #6070FF;
  border-radius: 8px;
  height: 40px;
  /* width: 50%; */
  border-radius: 8px;
  padding: 8px 25px 8px 25px;
  color: #6070FF;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  
}

/* ---------Mobile Menu---------- */

@media (max-width: 768px) {
  header {
    flex-direction: row;
  }

  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: start;
    padding-left: 10px;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    color: white;
  }

  .navbar-links.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 84px;
    background-color: #6070ff;
    opacity: 0.96;
    padding-top: 80px;
    top: 0;
  }

  .close-button {
    position: absolute;
    top: 14px;
    right: 40px;
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background: #f4f5f7;
  }

  header {
    width: 100%;
    top: 0;
    padding: 20px 100px;
    border-radius: 0;
    background-color: #fff;
    position: fixed;
  }

  .hamburger {
    display: none;
  }

  .close-button {
    display: none;
  }

  .navbar-links {
    display: block;
    padding: 0;
  }

  .mylogo {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
  }

  .mylogo:hover {
    transform: rotate(-10deg);
  }

  .navbar-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 28px;
  }

  .navbar-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #373232;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .navbar-links ul li:hover::after {
    width: 100%;
  }

  .main {
    background-image: url(img/Header\ bg@2x.png);
    background-size: 100% 100%;
    background-position: 100% 100%;
    width: 100%;
    border-radius: 0;
    padding: 260px 180px;
    gap: 1.5rem;
    border-bottom-left-radius: 70px;
  }

  main h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .mytxt {
    font-size: 20px;
    line-height: 28px;
  }

  .social {
    width: 30%;
  }

  /* Work Section */

  .cardone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
    padding: 2.8rem;
  }

  .cardoneimage {
    align-self: center;
  }

  .cardoneimage:hover {
    transform: scale(1.1);
  }

  .cardone:nth-child(even) .cardoneimage {
    order: 2;
  }

  .btntxt {
    justify-self: left;
  }

  /* ---------about page---------------------- */

  .about {
    display: grid;
    grid-template-columns: 40% 2fr;
    column-gap: 2.8rem;
    padding: 4.8rem;
  }

  .aboutmyself {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 14px;
  }

  .skilllist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
  }

  .languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 42px 0;
    gap: 12px;
  }

  .js {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 20%;
    height: 126.72px;
    padding-left: 2%;
    color: #253858;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .separator1,
  .separator2 {
    width: 100%;
  }

  /* Contact me section */

  .contactme {
    background-image: url("img/contact-form-bg.png");
  }

  .contactme > h2 {
    margin: auto 35%;
    padding: 4%;
  }

  .contactme > p {
    width: 580px;
    height: 102px;
    margin: auto 24%;
  }

  .inputtxt1,
  .inputtxt2,
  .inputtxt3 {
    width: 32.7rem;
    border-radius: 0.2rem;
  }

  .contactme form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 27px;
  }

  .contactme button {
    width: 18%;
    height: 58px;
  }

  /*  Popup-Window  */

  .thirdjs {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 12px;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 42px;
    
  }

  .langjs2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 20px;
    gap: 8px;
    color: #6070FF;
  }
  
}
