* {
font-family: 'poppins', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;

}
.navbar-logo {
    width: 76px;
    height: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070FF;
    margin-left: -20px;
    list-style-type: none;
}
.navbar-toggle {
    margin-right: 40px;
    list-style-type: none;
}

h1 {
    width: 327px;
    height: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#info {

    width: 327px;
    height: 146px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}
#outro {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
    flex: none;
    order: 0;
    flex-grow: 0;

}
.box {
    background-image: url(header-shapes-mobile.png);
    position: absolute;
    width: 375px;
    height: 600px;
    left: 0px;
    top: 0px;
    margin-right: 50px;
    margin-left: 50px;

}
.text {
    margin-left: 20px;
    margin-top: 70px;
    
}

