* {
  font-family: 'poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-right: -20px;
  margin-left: 20px;
}

.navbar-logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  list-style-type: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar-toggle {
  margin-right: 80px;
  list-style-type: none;
}

h1 {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#info {
  left: 24px;
  top: 276px;
  border-radius: nullpx;
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#outro {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.box {
  background-image: url(header-shapes-mobile.png);
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
}

.text {
  margin-left: 24px;
  margin-top: 140px;
}

.container {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;

  /* Neutrals/N0 */

  background: #fff;
}

#headone {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}
